{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adminStyle') }}
{% endblock %}

{% block body %}
    <div class="wrapper">
        {# Marge universelle #}
        <div class="top-margin"></div>

        {# Header #}
        <div class="header">
            <div class="back" onclick="window.history.back();"><i class="fas fa-arrow-left"></i></div>
            Détail du résultat
        </div>

        <div class="titre">
            Informations sur le test :
        </div>
        <div class="detail">
            <div class="header-infos">
                <div class="section">
                    <div class="row">
                        <div class="label">Date de l'envoi :</div>
                        <div class="value">{{ partie.date|date('d/m/Y à H:i:s') }}</div>
                    </div>
                    <div class="row">
                        <div class="label">Nombre de catégories terminées :</div>
                        <div class="value">{{ partie.changementsRegle|length }}</div>
                    </div>
                    <div class="row">
                        <div class="label">Nombre de cartes nécessaires pour atteindre les six catégories (soit le total des cartes posées) :</div>
                        <div class="value">{{ partie.choixCartes|length }}</div>
                    </div>
                    {% set nbErreurs = partie.getNbErreurs() %}
                    <div class="row">
                        <div class="label">Nombre d'erreurs (nombre de 'Non' dits par l'examinateur) :</div>
                        <div class="value">{{ nbErreurs }}</div>
                    </div>
                </div>
                <div class="section">
                    {% set erreursPerseveratrices = partie.getErreursPerseveratrices() %}
                    <div class="row">
                        <div class="label">Nombre d'erreurs persévératrices (EP) :</div>
                        <div class="value">{{ erreursPerseveratrices|length }}</div>
                    </div>
                    <div class="row">
                        <div class="label">Pourcentage d'erreurs persévératrices :</div>
                        <div class="value">{{ ((erreursPerseveratrices|length / nbErreurs) * 100)|number_format(2) }}%</div>
                    </div>
                    <div class="row">
                        <div class="label">Nombre d'abandon prématurés du critère :</div>
                        <div class="value">{{ partie.getAbandonsPrematures()|length }}</div>
                    </div>
                    <div class="row">
                        <div class="label">Temps écoulé pendant le test (en secondes) :</div>
                        <div class="value">{{ (partie.tempsNecessaire / 1000)|number_format(2) }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}