{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('testStyle') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('cardManager') }}
{% endblock %}

{% block body %}
    <div class="wrapper">
        {# Marge universelle #}
        <div class="top-margin"></div>

        {# Cartes de référence #}
        <div id="to-match" class="card-container">
            {% for carte in cartesReference %}
                <div data-reference="{{ carte.ordre }}" class="card-pile">
                    {% include('test/card.html.twig') with {'code': carte.typeCode} %}
                </div>
            {% endfor %}
        </div>

        {# Emplacement sous les cartes de référence #}
        <div id="matchers" class="card-container" style="display:none">
            {% for carte in cartesReference %}
                <div id="matcher-{{ carte.ordre }}" class="card-pile"></div>
            {% endfor %}
        </div>

        {# Les explications #}
        <div id="explications">
            <div class="titre"><u>Consignes :</u></div>
            <div class="contenu">
                <p>
                    Vous avez ici quatre cartes différentes : un triangle rouge, deux étoiles vertes, trois croix jaunes, quatre ronds bleus.
                    Je vais vous donner un second paquet de cartes.
                    <br>
                    <br>
                    Pour chaque carte de ce paquet, je vous demande de l'associer, de l'assortir avec l'une des quatre cartes devant vous en fonction d'un critère, d'une règle de votre choix.
                    <br>
                    <br>
                    La particularité du test est que je ne dois pas vous dire quelle est la règle. Je vous demande de la trouver vous-même en essayant les différentes règles possibles.
                    <br>
                    <br>
                    Cependant, à chaque fois que vous placerez une carte, je vous dirai 'Oui' ou 'Non'.
                    <br>
                    Si je vous dis 'Oui', vous devez conserver la même règle pour la carte suivante.
                    <br>
                    Si je vous dis 'Non', vous devrez essayer à nouveau en cherchant une autre règle pour la prochaine carte.
                    <br>
                    <br>
                    Maintenant allez-y, essayez de trouver une règle.
                </p>
                <div id="btn-go" class="btn">Démarrer</div>
            </div>
        </div>

        {# Le résultat affiché  à chaque carte posée #}
        <div id="result" style="display :none">
            <div class="right" style="display :none">
                OUI
            </div>
            <div class="wrong" style="display :none">
                NON
            </div>
            <br>
            <div class="change" style="display :none">
                Maintenant la règle change, vous devez trouver une autre règle.
            </div>
        </div>

        {# Le deck de cartes #}
        <div id="deck" class="card-container" style="display:none">
            <div class="card-pile">
                {% for carte in cartesTirage %}
                    {% include('test/card.html.twig') with {'code': carte.typeCode, 'class': 'flipped flippable flippable-once'} %}
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            let cardManager = new CardManager('glisser');
            cardManager.init();
        });
    </script>
{% endblock %}